html {
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    overflow-x: hidden;
    background-color: beige;
    margin: 0;
    top: 0;
    right: 0;
  }
  /* Navbar */
  .navbar{
    width: 102%;
    height: 80px;
    position: absolute;
    margin: -8px;
    z-index: 1;
  }
  .header{
    width: 102%;
    margin: -8px;
    height: 80px;
    z-index: -1;
    background-color: transparent;
  }
  .header table{
    position: absolute;
    margin-left: 700px;
    margin-top: 30px;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }
  #logo{
    height: 40px;
    margin: 20px;
    position: absolute;
    top: 0px;
    z-index: 1;
  }
  #logo:hover{
    height: 90px;
    transition-duration: .3s;
  }
  .navbar:hover .header{
    display: block;
    transition-duration: .5s;
  }
  button{
    height: 30px;
    width: 120px;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  button:hover{
    background-color: white;
    height: 40px;
    transition-duration: .3s;
  }
  /*Portfolio*/
  .portfolio {
    background: url(../img/Rondel2.jpg) no-repeat center center fixed;
    padding: 405px;
    margin-top: 10px;
    margin: 1px;
    background-size: 100%;
    text-align: left;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -22rem;
  }
  .portfolio-profile h1 {
    margin-top: 150px;
    margin-bottom: 0px;
    font-weight: 300;
    padding: 5px;
    font-size: 10rem;
    color: black;
    overflow-x: hidden;
  }
  .portfolio-profile h2 {
    font-weight: 300;
    padding: 0.1px;
    margin: 5px;
    margin-left: -43px;
    font-size: 10rem;
    color: black;
  }
  /* about section */
  .about {
    margin-top: 15px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  .about h1 {
    margin-top: -1px;
    margin-bottom: -50px;
    font-size: 4rem;
    text-align: center;
    position: sticky;
  }
  .about p {
    margin: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px;
    text-align: justify;
    font-size: 1.5rem;
      
  }
  /* skill */
  .skills h2 {
    margin-top: -1px;
    margin-bottom: -80px;
    font-size: 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
  }
  .skill-main-grid {
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-style: hidden;
    border-width: 1000px;
  }
  .skill-grid1, .skill-grid2, .skill-grid3, .skill-grid4, .skill-grid5, .skill-grid6 {
    position: relative;
    width: 70%;
    margin:10px;
  }
  .skill-grid1 img, .skill-grid2 img, .skill-grid3 img, .skill-grid4 img, .skill-grid5 img, .skill-grid6 img{
    height: 60%;
  }
  .skill-main-grid h1{
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-left: 35%;
  }
  .skill-main-grid h2 {
    background-color: black;
    text-align: center;
    color: gray;
    font-size: 1.5rem;
    margin-left: 40%;
    margin-bottom:20%;/*margin test*/
  }
  .image {
    filter: grayscale(100%);
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    position: sticky;
    display: block;
    width: 70%;
    height: 70%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    width: 70%;
    margin-left: 35%;
    margin-right: 35%;
    opacity: 0;
    transition: .5s ease;
    background-color: whitesmoke;
    margin-bottom:-8px;
  }
  .skill-grid1:hover .overlay{
    opacity: 1;
  }
  .skill-grid2:hover .overlay {
    opacity: 1;
  }
  .skill-grid3:hover .overlay {
    opacity: 1;
  }.skill-grid4:hover .overlay {
    opacity: 1;
  }.skill-grid5:hover .overlay {
    opacity: 1;
  }
  .skill-grid6:hover .overlay {
  opacity: 1;
  }
  .description {
    color: gray;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .icon {
    padding: 30px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .footer{
  color:black;
  text-align: center;
  background-color: white;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  }
  footer h3 {
    text-align: center;
  }
  .logoFooter {
    float: center; 
    padding: 0px;
    height: 200%;
    width: 40px; 
    text-decoration: none;
    border-radius: 30%;
  }
  .skill-grid1 .adjustSpace{
    font-size:20px;
  }
  .skill-grid2 .adjustSpace{
    font-size:20px;
  }
  .skill-grid3 .adjustSpace{
    font-size:20px;
  }
  .skill-grid4 .adjustSpace{
    font-size:20px;
  }
  .skill-grid5 .adjustSpace{
    font-size:20px;
  }
  .skill-grid6 .adjustSpace{
    font-size:20px;
  }